<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 接口映射 -->
<mapper namespace="com.ccran.mapper.CnblogAuthorMapper">
	<select id="listTopFans" parameterType="_int" resultType="com.ccran.pojo.CnblogAuthor">
		select authorNickName,fans from cnblog_author order by fans desc limit #{limit}
	</select>
</mapper>